@media screen and (min-width:768px) {

    main {
        width: 90vw;
        height: 300px;
    }

    .imagem {
         width: 45%;
        height: 100%;
        background-position: left center; 
        float: left;
    }

     .conteudo {
        float: right;
        width: 55%;
        height: 100%;
    }

    input {
        padding: 10px;
    }
}

@media screen and (min-width: 992px) {
    main {
        width: 990px;
        height: 350px;
    }

    .imagem {
        float: right;
        width: 50%;
    }

    .conteudo {
        float: left;
        width: 50%;
    }

    .conteudo h1 {
        font-size: 2em;
    }

    .conteudo p {
        margin: 10px 0;
    }
} 