@media screen and (min-width:768px) {
    body {
        background-image: linear-gradient(to bottom, #4F256D, #4A989B);
    }

    main {
        width: 680px;
        height: 280px;
        flex-direction: row;
    }

    .imagem {
        border-radius: 20px 0 0 20px;
        height: 100%;
    }
}